<h1>About us</h1>
<p>We are working on our One Month Rails Pinteresting App!</p>
<p>	Hello and Welcome to my Pinteresting App that I created using One Month Rails. My name is Catherine and I am the creater of this App.</p>
<p>This is my first app I've created and this is my first time using ruby on rails and coding in general.</p>
<p>I'm going to use this site as a stepping stone into a new career. I'll be using this as an example on my portfolio website.</p>
<p>My goal with this app is too have a place where people can pin pictures, websites,etc. of fun, colorful, and crazy socks that they own or would like to own. People can pin pictures of them wearing their socks too.</p>
<img src="https://ci3.googleusercontent.com/proxy/85zPZnJSFWK0xG2hPLxBdWiCGMsizCZtP2b-3tcuhaNQ5xXEB1wjvao1pbHjYpdamH6BzdlgeC7BsL9yKiT0LEzF9D9dKm6qFztPxFxSIXePrSKpGbswEurbtBpCiOwlobIaI81rOZEw9hvi3w8RZLo9wn5BsJXbOCSu0oYZgtZA1AiGPbUDkmeVMg=s0-d-e1-ft#http://scontent-b-pao.cdninstagram.com/hphotos-xaf1/t51.2885-15/s150x150/e15/10852576_369963539852102_583718932_n.jpg"> </img> 			
<p>Pictured here are 5 pairs of socks that I purchased onlline at <a href="http://www.socksmith.com"> socksmith.com</a> The first pair of socks is of the golden gate bridge, monsters, dinosaurs, pot leafs, and pancakes.</p>


