<h1>About us</h1>
<p>We are working on our One Month Rails Pinteresting App!</p>

<p>	Hello and Welcome to my Pinteresting App that I created using One Month Rails. My name is Catherine and I am the creater of this App. This is my first app I've created and this is my first time using ruby on rails and coding in general. </p>

<p>I'm going to use this site as a stepping stone into a new career. My goal is to be able to work remotely and do freelance work, while I travel the world with my husband and dog.  I'll be using this as an example on my portfolio website. My goal with this app is too have a place where people can pin pictures, link to websites, and have a creative outlet.</p>

<p>  A little bit about myself, I live in San Francisco. I have a bachelors in Tourism, Convention, Event Management. I am married to a software engineer named Christian. We have  a dog named Wednesday. I enjoy travelling especially to Europe, cooking, animals, being barefoot or wearing crazy socks, reading, and being outdoors. I am learning French. I enjoy being physically active and I am an absolute foodie. My favorite holiday is my Birthday. My family and friends mean the world to me. I hate shopping, birds, they scare me, and have a fear of heights, which I am working on. </p>

<p> Thank you for visiting my site and I hope you enjoy yourself. </p>
